<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orbitron&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f810954eb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stryle.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container_cards">
        <div class="card_container">
            <div class="img_card">
                <img src="../images/games/Mortal_Kombat_1.webp" alt="mk1"> <!-- la imagen viene de la db-->
            </div>
            <div>
                <h4>$nombre</h4>
                <p><span>Genero: </span>$genero</p>
                <p><span>Empresa: </span> $empresa</p> 
                <button>ver mas</button>
            </div>
        </div>
    </div>



</body>
</html>