<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orbitron&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f810954eb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stryle.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header_div_uno">
            <img src="../images/lobo.png" alt="lobo" id="logo">
            <h1><span>I</span>nfo<span class="g_logo">G</span>ame<span>s</span></h1>
        </div>
        <div class="header_div_dos">
            <ul class="lista_plataformas"> 
                <li class"items_lista"> <h3><i class="fa-brands fa-steam"></i></h3></li>
                <li class"items_lista"> <h3><i class="fa-brands fa-xbox"></i></h3> </li>
                <li class"items_lista"> <h3><i class="fa-brands fa-playstation"></i></h3></li>
            </ul>  
        </div>
        
    </header>
    <nav>
        <div class="divBox">
            <button class="btn_nav"> <a href="../router.php?action=home" class="a_nav"> Home </a> </button>
        </div>
        <div class="divBox">
            <button class="btn_nav" id="btn-filtrar">Filtrar</button>
            <ul class="lista">
                <li><a href="../router.php?action=games">Juegos</a></li>
                <li><a href="../router.php?action=company">Compania</a></li>
            </ul>
        </div>
        <div class="divBox">
            <button class="btn_nav" ><a href="../router.php?action=login" class="a_nav"> Login </a> </button>
        </div>
    </nav>

    <section class="section_container">
        <section class="company">
            <div class="imagenCompany">
                <img src="../images/juegos-capcom-2607483.webp" alt="capcom">
            </div>
            <div class="textCompany">
                <p>
                    Creó su primer arcade, Vulgus, en 1984. Sus primeros juegos siguieron siendo arcades, como el Matamarcianos 1942.
                </p>
                <p>
                    A finales de los años 1980, Yoshiki Okamoto se unió a Capcom tras abandonar Nintendo. En 1987 Capcom comercializó el juego Street Fighter y ese mismo año también publicó el juego de plataformas Mega Man (Rockman en Japón) para la consola Nintendo Entertainment System. Final Fight, un beat'em up, fue publicado en 1989. En 1991, Street Fighter II, de Yoshiki Okamoto, llegó a los salones recreativos. Resident Evil (Biohazard en Japón), un exitoso terror y supervivencia, se estrenó para PlayStation en 1996.
                </p>
                <p>
                    Dos empresas desarrolladoras dependientes de Capcom, Clover Studio y Flagship, también han creado exitosos juegos, incluyendo la serie Viewtiful Joe y cuatro juegos de The Legend of Zelda realizados bajo la supervisión de Shigeru Miyamoto. Oracle of Ages, Oracle of Seasons, A Link to the Past & Four Swords y The Legend of Zelda The Minish Cap.
                </p>
            </div>
            
        </section>
        <div class="bton_ver_mas_container">
            <button class="btnVer_mas"> <a href=""> Ver más </a></button>
        </div>
        <hr>
    </section>


    <section class="section_container">
        <section class="company">
            <div class="textCompany">
                <p>
                    Creó su primer arcade, Vulgus, en 1984. Sus primeros juegos siguieron siendo arcades, como el Matamarcianos 1942.
                </p>
                <p>
                    A finales de los años 1980, Yoshiki Okamoto se unió a Capcom tras abandonar Nintendo. En 1987 Capcom comercializó el juego Street Fighter y ese mismo año también publicó el juego de plataformas Mega Man (Rockman en Japón) para la consola Nintendo Entertainment System. Final Fight, un beat'em up, fue publicado en 1989. En 1991, Street Fighter II, de Yoshiki Okamoto, llegó a los salones recreativos. Resident Evil (Biohazard en Japón), un exitoso terror y supervivencia, se estrenó para PlayStation en 1996.
                </p>
                <p>
                    Dos empresas desarrolladoras dependientes de Capcom, Clover Studio y Flagship, también han creado exitosos juegos, incluyendo la serie Viewtiful Joe y cuatro juegos de The Legend of Zelda realizados bajo la supervisión de Shigeru Miyamoto. Oracle of Ages, Oracle of Seasons, A Link to the Past & Four Swords y The Legend of Zelda The Minish Cap.
                </p>
            </div>
            <div class="imagenCompany">
                <img src="../images/company/konami.jfif" alt="capcom">
            </div>
            
        </section>
        <div class="bton_ver_mas_container">
            <button class="btnVer_mas"> <a href=""> Ver más </a></button>
        </div>
        <hr>
    </section>

    <script src="../js/main.js"></script>
</body>
</html>