<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orbitron&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f810954eb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/stryle.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header_div_uno">
            <img src="../images/lobo.png" alt="lobo" id="logo">
            <h1><span>I</span>nfo<span class="g_logo">G</span>ame<span>s</span></h1>
        </div>
        <div class="header_div_dos">
            <ul class="lista_plataformas"> 
                <li class"items_lista"> <h3><i class="fa-brands fa-steam"></i></h3></li>
                <li class"items_lista"> <h3><i class="fa-brands fa-xbox"></i></h3> </li>
                <li class"items_lista"> <h3><i class="fa-brands fa-playstation"></i></h3></li>
            </ul>  
        </div>
        
    </header>
   

    <script src="../js/main.js"></script>
</body>
</html>